<template>
  <div class="hello">
    wegf
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<style lang="less" scoped>
  .hello{
    width: 100%;
    height: 100%;
  }
</style>